.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  margin-top: 1em;
  background-color: #fff;
  width: 750px; 
  height: 600px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 10px rgb(176, 183, 185);
}
.heder {
  background-color: rgb(120, 128, 128);
  width: 750px; 
  height: 150px; 
  box-shadow: inset 0 0 0 10px rgb(176, 183, 185);

}

.btn-ini {
  text-align: center;
  background-color: rgb(176, 183, 185);
  color: rgb(113, 116, 116);
  font-size: 20px;
  font-style: bold;
  border: none;
  width: 300px; 
  height: 70px; 
  margin-top: 150px;
  border-radius: 10px;
}
